* {
    margin:0;
    padding: 0;
}


/* <<<<<<<<<<<<<<header styles>>>>>>>>>>>>>>>> */
.header{
    height: 100px;
    background: grey;
}
.header-logo{
    height: 100px;
    background: green;
}
.header-search{
    height: 100px;
    background: gold;
}
.header-user-panel{
    height: 100px;
    background: blue;
    padding: 0;
}
#basket{
    height: 100px;
    width: 100px;
    background-image: url(../img/basket.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.basketPanel:hover{
    cursor: hand;
}
.basketPanel{
    width: 100%;
    height: 400px;

    background: rebeccapurple;
    float: right;
}
.user{
    height: 100px;
    background:brown;
    
}


/* <<<<<<<<<<<<<<<<<<<main>>>>>>>>>>>>>>>>>>>>>> */
.main{
    background: grey;
}

/* <<<Category>>>> */
.nav-category{
    list-style: none;
    font-size: 25px;
}
.nav-category li{
   cursor: pointer;
   transition: 0.2s;
   line-height: 60px;
   text-align: center;
   border-bottom: solid 1px black;
   margin-left: 15px;
   
}
.nav-category li:first-child{
    margin-top: 15px;
    background: rgb(46, 238, 46);
    font-size: 25px;
}
.nav-category li:hover{
    font-size: 35px;
    background: yellow;
    transition: 0.1s;
}
.nav{
    background: red;
    height: 400px;
}

/* <<<<<<<<Slider>>>>>> */
.slider{
    background-image: url(../img/slider.jpeg);
    background-size: cover;
    height: 400px;
    margin: 0;
    padding: 0;
}

/* <<<<<<Filters>>>>>>>>> */
.filter{
    background: yellowgreen;
    height: 50px;
}


/*<<<<<<<<<<<<<<<<<<<<<<<Content>>>>>>>>>>>>>>>>>>>> */
.content{
    background: sandybrown;
    height: 450px;
}


/* <<<<<<<<<<<<<<<<<<<<<<<Footer>>>>>>>>>>>>>>>>>>>>>> */
.column1{
    background: red;
    height: 200px;
}
.column2{
    background: green;
    height: 200px;
}
.column3{
    background: blue;
    height: 200px;
}
.column4{
    background: yellow;
    height: 200px;
}



