/* <<<<<<<<<<<<<<header styles>>>>>>>>>>>>>>>> */
.header{
    height: 100px;
    background: grey;
}
.header-logo{
    height: 100px;
    background: green;
}
.header-search{
    height: 100px;
    background: gold;
}
.header-user-panel{
    height: 100px;
    background: blue;
}


/* <<<<<<<<<<<<<<<<<<<main>>>>>>>>>>>>>>>>>>>>>> */
.main{
    background: grey;
}

/* <<<Category>>>> */
.nav-category{
    list-style: none;
}
.nav-category li{
   cursor: pointer;
   transition: 0.3s;
}
.nav-category li:first-child{
    background: rgb(46, 238, 46);
    font-size: 20px;
}
.nav-category li:hover{
    font-size: 30px;
    background: yellow;
    transition: 0.3s;
}
.nav{
    background: red;
    height: 400px;
}

/* <<<<<<<<Slider>>>>>> */
.slider{
    background: rebeccapurple;
    height: 400px;
}

/* <<<<<<Filters>>>>>>>>> */
.filter{
    background: yellowgreen;
    height: 50px;
}


/*<<<<<<<<<<<<<<<<<<<<<<<Content>>>>>>>>>>>>>>>>>>>> */
.content{
    background: sandybrown;
    height: 450px;
}


/* <<<<<<<<<<<<<<<<<<<<<<<Footer>>>>>>>>>>>>>>>>>>>>>> */
.column1{
    background: red;
    height: 200px;
}
.column2{
    background: green;
    height: 200px;
}
.column3{
    background: blue;
    height: 200px;
}
.column4{
    background: yellow;
    height: 200px;
}



