* {
<<<<<<< HEAD
<<<<<<< HEAD
    font-family: 'Roboto';
}

=======
>>>>>>> 89dd8ac58db18351039c47189e0ca217cacabf11
    margin:0;
    padding:0;
    font-family: 'Roboto';
}

<<<<<<< HEAD

/* <<<<<<<<<<<<<<header styles>>>>>>>>>>>>>>>> */

=======
>>>>>>> 89dd8ac58db18351039c47189e0ca217cacabf11
.header{
    height: 100px;
    background: grey;
}
.header-logo{
    height: 100px;
    background: green;
}
.header-search{
    height: 100px;
    background: gold;
}
.header-user-panel{
    height: 100px;
    background: blue;
    padding: 0;
}
#basket{
    height: 100px;
    width: 100px;
    background-image: url(../img/basket.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.basketPanel:hover{
    cursor: hand;
    height: 600px;
    width: 100%;
}
.basketPanel{
    width: 100%;
    height: 400px;

    background: rebeccapurple;
    float: right;
}
.user{
    height: 100px;
    background:brown;
    
}


/* <<<<<<<<<<<<<<<<<<<main>>>>>>>>>>>>>>>>>>>>>> */
.main{
    background: grey;
}

/* <<<Category>>>> */
.nav-category{
    list-style: none;
    font-size: 25px;
}
.nav-category li{
   cursor: pointer;
   transition: 0.2s;
   line-height: 60px;
   text-align: center;
   border-bottom: solid 1px black;
   margin-left: 15px;
   
}
.nav-category li:first-child{
    margin-top: 15px;
    background: rgb(46, 238, 46);
    font-size: 25px;
}
.nav-category li:hover{
    font-size: 35px;
    background: yellow;
    transition: 0.1s;
}
.nav{
    background: red;
    height: 400px;
}

/* <<<<<<<<Slider>>>>>> */
.slider{
    padding: 0;
}
.carousel {
    width: 877px;
    height: 400px;
    overflow: hidden;
}

/* <<<<<<Filters>>>>>>>>> */
.filter{
    background: yellowgreen;
    height: 50px;
}

/*<<<<<<<<<<<<<<<<<<<<<<<Content>>>>>>>>>>>>>>>>>>>> */
.content{
    background: sandybrown;
    height: 750px;
    overflow: auto;
}


#result .grocery_card {
    height: 200px;
    width: 29%;
    background: rgba(204, 204, 204, 0.40);
    margin: 20px;
    float: left;
    position: relative;
}

.grocery_card .smallCardImg {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    float: left;
}

.grocery_card h4, .grocery_card p {
    text-align: center;
    font-weight: 400;
    display: block;
    font-size: 15px;

}

.grocery_card span {
    display: block;
    text-align: center;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 20px;
}


.grocery_card button {
    position: absolute;
    bottom: 0;

}


/* <<<<<<<<<<<<<<<<<<<<<<<Footer>>>>>>>>>>>>>>>>>>>>>> */
.column1{
    background: red;
    height: 200px;
}
.column2{
    background: green;
    height: 200px;
}
.column3{
    background: blue;
    height: 200px;
}
.column4{
    background: yellow;
    height: 200px;
}



